
<div>
    <table class="center"> 
      <thead>
        <tr>
          <th>Product</th>
          <th class="description-column">Description</th>
          <th>Category</th>
          <th class="imagecell">Image</th>
          <th>Price</th>
        </tr>
      </thead>
    </table>
  </div>