<style>
        .container {
            background-color: #fff;
            padding: 20px 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #4CAF50;
        }
        h2 {
            margin-top: 20px;
            margin-bottom: 40px;
        }
       .orderlink {
            display: inline-block;
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .orderlink:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Congratulations!!!!!!!!!! Order Placed</h1>
        <h2>To Track your orders click On</h2>
        <a class="orderlink"   href="/orderhistory">Order History</a>
    </div>
</body>
</html>
