<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style1.css" rel="stylesheet">
    <title>Signup</title>
</head>
<body>
    <div class="container" style="background-image: url('https://as2.ftcdn.net/v2/jpg/03/03/67/79/1000_F_303677964_rpvt1Q3ZDJARTCKKwgBEdfxble3Hyqbf.jpg');height:670px;">
        <div class="register">
            <form action="/signup" method="post" class="registerbox" onsubmit="return validateForm()">
                {{#if signupErr}}
                    <p class="error" style="font-weight: bolder; color: rgb(255, 255, 255); font-size: larger; background-color: black;">{{signupErr}}</p>
                {{/if}}
                <input id="fname" name="fname" type="text" placeholder="First Name" required>
                <input id="lname" name="lname" type="text" placeholder="Last Name" required>
                <input id="email" name="email" type="email" placeholder="Email" required>
                <input id="password" name="password" type="password" placeholder="Password" required>
                <button class="loginbtn">Sign Up</button>
                <h3 style="color: black;">Already have an account? <a href="/login">Login</a></h3>
            </form>
        </div>
    </div>
    
</body>
</html>
